@font-face{
    font-family: Roboto-Bold;
    src: url(/font/Roboto-Bold.ttf);
}
@font-face{
    font-family: Roboto-Medium;
    src: url(/font/Roboto-Medium.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(/font/Roboto-Regular.ttf);
}
.nav-item{
    font-size: 17px;
    padding-right: 5rem;
    font-family: Roboto-Bold;
}
.nav-link{
   color: #000000;
}
.group{
    font-size: 50px;
    font-family: Roboto-Bold;
    background-color: rgb(221, 221, 221);
    color: #000000;
    padding: 7rem;
    text-align: center;
}
.indvduals{
    font-size: 50px;
    color: #000000;
    font-family: Roboto-Bold;  
    background-color: rgb(201, 175, 71);
    padding: 7rem;
    text-align: center;
}
.footer{
    background-color: black;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto-Bold;
    padding: 4rem;
}
.copyright{
    font-family: Roboto-Bold;
    font-size: 20px;
    text-align: center;
}
.img{
    font-size: 50px;
    font-family: Roboto-Bold;
    background-color: rgb(221, 221, 221);
    color: #000000;
    padding: 7rem;
    text-align: center;
    margin: .8rem;

}
.img-p{
    font-size: 50px;
    color: #000000;
    font-family: Roboto-Bold;  
    background-color: rgb(201, 175, 71);
    padding: 7rem;
    text-align: center;
    margin: .8rem;
}